.text-14
{
    font-size: 14px;
}

.margin-left-5
{
    margin-left: 5px;
}

.custom-pass
{
    position: absolute;
    top: 63%;
    right: 40px;
    transform: translateY(-65%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.bottom-space
{
    margin-bottom: 10px;
}

.relative
{
    position:fixed;
    top:300px;
    left: 900px;
}

